<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alehmann.productfinding">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".Login.LoginActivity"/>
        <activity android:name=".Magasin.RecyclerMagasinActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Magasin.DetailMagasinActivity" />

        <activity
            android:name=".Magasin.AddMagasinActivity"
            android:label="NouveauMagasin" />

        <activity
            android:name=".Produit.AddProduitActivity"
            android:label="NouveauProduit" />

        <activity android:name=".Login.RegistrerActivity"></activity>

    </application>

</manifest>